<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="/css/style_main.css">
<title> Supermarket Inner Page </title>
</head>
<header>
  
  <h1><span>Welcome </span><%=  user.firstName%> <%= user.lastName%></h1>
  <h3>Edit Items Page</h3>

</header>
<div class="flex">
<nav>
  <a class="logo" href="#">
    <h2>Activites</h2>
    <p>
      <% if(user.positionID == "4") { %>
        Privilege Level Admin 
        <% } %>
        <% if(user.positionID == "3") { %>
          Privilege Level Receiver 
          <% } %>
          <% if(user.positionID == "2") { %>
            Privilege Level Price Coordinator 
            <% } %>
            <% if(user.positionID == "1") { %>
              Privilege Level Cashier 
              <% } %>
      </p>
  </a> 
 
  <a href="/">
    <i class="fa fa-book fa-lg"></i>
    <span>Home</span>
  </a>
  <% if(user.positionID == "4") { %>

    <form id="users" action = "/users" method="get">
      <button type="submit"><i class="fa fa-user fa-lg"></i><span>Users</span></button>
      </form>
      <form id="inventory" action = "/addInventory" method="get">
        <button type="submit"><i class="fa fa-book fa-lg"></i><span>Add Inventory</span></button>
        </form>
        <form id="delivery" action = "/delivery" method="get">
          <button type="submit"><i class="fa fa-book fa-lg"></i><span>Delivery</span></button>
          </form>
          <form id="inventory" action = "/inventory" method="get">
            <button type="submit"><i class="fa fa-book fa-lg"></i><span>View Inventory</span></button>
            </form>
            <form id="inventory" action = "/transactionDetails" method="get">
              <button type="submit"><i class="fa fa-book fa-lg"></i><span>CashierPage</span></button>
              </form>
      
    <% } %>
    <% if(user.positionID == "3") { %>
      <form id="inventory" action = "/addInventory" method="get">
        <button type="submit"><i class="fa fa-book fa-lg"></i><span>Add Inventory</span></button>
        </form>
        <form id="delivery" action = "/delivery" method="get">
          <button type="submit"><i class="fa fa-book fa-lg"></i><span>Delivery</span></button>
          </form>

      <% } %>

      <% if(user.positionID == "2") { %>
        <form id="inventory" action = "/inventory" method="get">
          <button type="submit"><i class="fa fa-book fa-lg"></i><span>View Inventory</span></button>
          </form>
          <form id="inventory" action = "/addInventory" method="get">
            <button type="submit"><i class="fa fa-book fa-lg"></i><span>Add Inventory</span></button>
            </form>
  
        <% } %>
        <% if(user.positionID == "1") { %>
          <form id="inventory" action = "/transactionDetails" method="get">
            <button type="submit"><i class="fa fa-book fa-lg"></i><span>CashierPage</span></button>
            </form>
    
          <% } %>
  

    <form id="logoutf" action = "/logout?_method=DELETE" method="POST">
    <button type="submit"><i class="fa fa-key fa-lg"></i><span>Log Out</span></button>
    </form>
 

  </nav>
  <div class="contents">
    <h1>Edit item</h1>

  
    <h3>The Selected item is :    <%= itemInfo[0].itemDescription %>    </h3>
    <% if(errors != "") { %>
      <% errors.forEach((item) => { %>
        <br><br>  
        <span class = "alert alert-danger">
              <%- item %>
          </span>
      <% }); %>
  <% } %>

      <% if(itemInfo != "") { %>
        <% let i = 1 %>
          <form id="editItem" name="updateItem" action = "/updateItem" method="POST" style="display: inline;">
            <label for="UPC" style="width:100px; display: inline-block;" >UPC</label>
            <input type="text" name="UPC" id="UPC" value="<%= itemInfo[0].UPC %>"> <br>
          <label for="itemDescription" style="width:100px; display: inline-block;" >Description</label>
          <input type="text" name="itemDescription" id="itemDescription" value="<%= itemInfo[0].itemDescription %>"> <br>
          <label for="price" style="width: 100px; display: inline-block;">Price</label>

          <input type="text" name="price" id="price"value="<%= itemInfo[0].price %>"> <br>
          <label for="notes"style="width: 100px; display: inline-block;">Notes</label>
          <input type="text" name="notes" id="notes"value="<%= itemInfo[0].notes %>"> <br>
           
              <button type="submit" style="color: black; width: 200px;" >Update Info </button></form><br>
              <br>

      
          </td>
          </tr>
  
    <% } %>


  </div>
</div>
<footer>
 <div class="left">
      Final Project Templete | some context| 
  </div>
  <div class="right">
    <a href="#"> Home</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
    <a href="#">Privacy Policy</a>
  </div>
</footer>