<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="/css/style_main.css">
<title> Supermarket Inner Page </title>
</head>
<header>
  
  <h1><span>Welcome </span><%=  user.firstName%> <%= user.lastName%></h1>
  <h3>Users  Page</h3>

</header>
<div class="flex">
<nav>
  <a class="logo" href="#">
    <h2>Activites</h2>
    <p>
      <% if(user.positionID == "4") { %>
        Privilege Level Admin 
        <% } %>
        <% if(user.positionID == "3") { %>
          Privilege Level Receiver 
          <% } %>
          <% if(user.positionID == "2") { %>
            Privilege Level Price Coordinator 
            <% } %>
            <% if(user.positionID == "1") { %>
              Privilege Level Cashier 
              <% } %>
      </p>
  </a> 
 
  <a href="/">
    <i class="fa fa-book fa-lg"></i>
    <span>Home</span>
  </a>
  <% if(user.positionID == "4") { %>

    <form id="users" action = "/users" method="get">
      <button type="submit"><i class="fa fa-user fa-lg"></i><span>Users</span></button>
      </form>
      <form id="inventory" action = "/addInventory" method="get">
        <button type="submit"><i class="fa fa-book fa-lg"></i><span>Add Inventory</span></button>
        </form>
        <form id="delivery" action = "/delivery" method="get">
          <button type="submit"><i class="fa fa-book fa-lg"></i><span>Delivery</span></button>
          </form>
          <form id="inventory" action = "/inventory" method="get">
            <button type="submit"><i class="fa fa-book fa-lg"></i><span>View Inventory</span></button>
            </form>
            <form id="inventory" action = "/transactionDetails" method="get">
              <button type="submit"><i class="fa fa-book fa-lg"></i><span>CashierPage</span></button>
              </form>
      
    <% } %>
    <% if(user.positionID == "3") { %>
      <form id="inventory" action = "/addInventory" method="get">
        <button type="submit"><i class="fa fa-book fa-lg"></i><span>Add Inventory</span></button>
        </form>
        <form id="delivery" action = "/delivery" method="get">
          <button type="submit"><i class="fa fa-book fa-lg"></i><span>Delivery</span></button>
          </form>

      <% } %>

      <% if(user.positionID == "2") { %>
        <form id="inventory" action = "/inventory" method="get">
          <button type="submit"><i class="fa fa-book fa-lg"></i><span>View Inventory</span></button>
          </form>
          <form id="inventory" action = "/addInventory" method="get">
            <button type="submit"><i class="fa fa-book fa-lg"></i><span>Add Inventory</span></button>
            </form>
  
        <% } %>
        <% if(user.positionID == "1") { %>
          <form id="inventory" action = "/transactionDetails" method="get">
            <button type="submit"><i class="fa fa-book fa-lg"></i><span>CashierPage</span></button>
            </form>
    
          <% } %>
  

    <form id="logoutf" action = "/logout?_method=DELETE" method="POST">
    <button type="submit"><i class="fa fa-key fa-lg"></i><span>Log Out</span></button>
    </form>
 

  </nav>
  
  <div class="contents">
    <h1>List of all users</h1>

    <h3> We Can Develop Data Containers here</h3>
    <p>We will decide and develope methods to put some data here </p>
    <table id="conferenceTable"  >
    	<tr>
        <th style="min-width:10mm">#</th> 
        <th style="min-width:50mm"> First Name</th> 
        <th style="width:50mm"> Last Name</th> 
        <th style="width:50mm"> Email</th>
        <th style="width:50mm"> Designation</th>  
        <th style="min-width:50mm; text-align: center;">Actions </th>    

      
      </tr>
      <% if(data != "") { %>
        <% let i = 1 %>
        <% data.forEach((rows) => { %>
          <tr>
          <td style="min-width:10mm; text-align: center;"><%= i++ %></td> 
          <td style="width:50mm"><%= rows.firstName %></td>
          <td style="width:50mm"><%= rows.lastName %></td>
          <td style="width:50mm"><%= rows.email %></td>
          <td style="width:50mm"><%= rows.positionDescription %></td>
          <td style="min-width: 50mm; text-align: center;">

       

            <form id="showUser" action = "/showUser/<%= rows.employeeID %>" method="POST" style="display: inline;">
              <button type="submit" class="link">Edit </button></form>
              <span> || </span>
              <form id="showUser" action = "/deleteUser/<%= rows.employeeID %>" method="POST" style="display: inline;">
              <button type="submit" class="link"><span> Delete</span> </button>
              </form>

          </td>
          </tr>
        <% }); %>
    <% } %>
    </table>

  </div>
</div>
<footer>
 <div class="left">
      Final Project Templete | some context| 
  </div>
  <div class="right">
    <a href="#"> Home</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
    <a href="#">Privacy Policy</a>
  </div>
</footer>